.booking {
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    margin-bottom: 30px;
    padding-bottom: 30px; 
}

@media (min-width: 768px) {
    .booking:last-child {
        border-bottom: 0px;
        margin-bottom: 0px;
        padding-bottom: 0px; 
    } 
}

.booking-image {
    float: left;

    img {
        width: 180px; 
    }

    @media (max-width: 1199px) {
        float: none;

        img {
            height: auto;
            width: 100%;
        } 
    }
}
  
.booking-content {
    display: table-cell; 

    h2 {
        color: #363636;
        clear: both;
        font-size: 17px;
        font-weight: 400;
    }

    p {
        color: rgba(54, 54, 54, 0.6);
        margin: 0px;
    }
}

.booking-meta {
    clear: both;
    display: inline-block;
    font-size: 13px;
    width: 100%; 

    .meta-item {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        float: left;
        margin: 0px 15px 0px 0px;
        padding: 0px 15px 0px 0px; 
        color: rgba(54, 54, 54, 0.6);
        &:last-child {
            border: 0;
        }

        .fa {
            color: #c6af5c;
            font-size: 11px;
            margin: 0px 10px 0px 0px;
            vertical-align: 1px; 
        }

        @media (max-width: 767px) {
            border: 0px;
            float: none;
            padding: 4px 0px; 
        }
    }
} 