.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  .card {
    flex: 0 0 auto;
    margin-right: 3px;
  }
}

.control-button {
  z-index: 9999;
}


.swiper-container {
  width: 100%;
  min-height: 300px;
  padding: 0 50px;
}