@keyframes placeHolderShimmer{
    0%{
        background-position: -100% 0
    }
    100%{
        background-position: 200% 0
    }
}

.animated-background {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #dddddd 8%, #cccccc 18%, #dddddd 33%);
    background-size: 60% 104px;
    position: relative;

    &.img {
      height: 500px;
    }
}

@media (max-width: 767px) {
    @keyframes placeHolderShimmer{
        0%{
            background-position: -468px 0
        }
        100%{
            background-position: 468px 0
        }
    }

    .animated-background {
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: placeHolderShimmer;
        animation-timing-function: linear;
        background: #f6f7f8;
        background: linear-gradient(to right, #dddddd 8%, #cccccc 18%, #dddddd 33%);
        background-size: 800px 104px;
        position: relative;

        &.img {
            height: 400px;
        }
    }
}