<div class="mb-5" *ngIf="activity">
    <div class="detail-banner"
         [ngStyle]="{'background': 'url(' + activityCover + ')'}"

    >
        <div class="tolanding-banner text-white">
            <button class="btn-outline accent" (click)="goToLanding()">
                <i class="fa fa-arrow-circle-left mr-2" aria-hidden="true"></i> Ir a lista de Actividades
            </button>
        </div>
        <div class="container">
            <div class="detail-banner-left">
                <div class="detail-banner-info">
                    <div class="detail-label">{{ activity.category?.name }}</div>
                    <div class="detail-saving">
                        <app-activity-saving [rates]="activity.rates"></app-activity-saving>
                    </div>
                </div>
                <h2 class="detail-title">
                    {{ activity.name }} <app-price-displayer [rates]="activity.rates"></app-price-displayer>
                </h2>

                <div class="detail-banner-address">
                    <i class="fa fa-map-o"></i> {{ activity.area?.formatedAddress }}
                </div>

                <div class="detail-banner-btn bookmark" (click)="bookNow()">
                    <i class="fa fa-bookmark-o"></i> <span data-toggle="Bookmarked">Book now</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row detail-content">
        <div class="col-sm-7">
            <div class="detail-gallery mb-3">
                <app-photo-gallery [mainPhoto]="activity.mainPhoto" [subPhotos]="activity.subPhotos"></app-photo-gallery>
            </div>
            <md-card class="mb-3">
                <h2>Offer Summary </h2>
                {{ activity.description }}
            </md-card>
            <md-card class="mb-3">
                <agm-map [latitude]="activity.lat" [longitude]="activity.lng">
                    <agm-marker [latitude]="activity.lat" [longitude]="activity.lng"></agm-marker>
                </agm-map>
            </md-card>
        </div>
        <div class="col-sm-5">
            <app-rate (rateSelected)="onRateSelected($event)" *ngFor="let rate of activity.rates" [rate]="rate"></app-rate>
        </div>
    </div>
</div>
