$bg-color: #FFFFFF;
$accent: #fbc02d;

* {
    outline: none!important;
}

body {
  background-color: $bg-color;
}

.o-hidden {
    overflow: hidden;
}

.text-white{
    color: white!important;
}

.input-full-width {
  width: 100%;
}

agm-map {
  height: 300px;
}

.btn-outline {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-weight: 500;
    text-align: center;
    margin: 0;
    min-width: 88px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 2px;

    &.accent {
        color: $accent;
        border: 1px solid $accent;
        background-color: transparent;
        transition: all linear .15s;

        &:hover {
            background-color: $accent;
            text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
            color: white;
        }
    }

    &.white {
        color: white;
        border: 1px solid white;
        background-color: transparent;
        transition: all linear .15s;

        &:hover {
            background-color: white;
            color: #292b2c;
        }
    }
}

.md-dialog-fullscreen-xs {
    min-width: 30%;
    max-width: 60%;
}

@media screen and (max-width: 767px) {
  .md-dialog-fullscreen-xs {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;

    .mat-dialog-container {
        max-width: 100vw!important;
    }
  }
}

/*LOADER*/
.loading {
    opacity: 1;
    transition: opacity .8s ease-in-out;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    // background: #ffc14a;
    background: #000;
    z-index: 9999;
    &.hidden {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 1s, opacity 1s ease-in;
    }

    .loader-container {
        height: 100vh;
        line-height: 100vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        img {
            max-width: 100px;
        }

        .loader-ring {
            position: absolute;
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
            border: 2px solid #414141;
            border-radius: 50%;
            border-top: 2px solid #ffffff;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
        }
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.mdl-step {
    position: relative;
}

.mdl-step:not(.is-active) {
    height: initial !important
}

.mdl-step:not(:last-child) {
    margin-bottom: 24px
}

.mdl-step:not(:last-child).is-active {
    margin-bottom: 36px
}

.mdl-step .mdl-step-error-message {
    display: none
}

.mdl-step.is-active .mdl-step__title {
    font-weight: bold
}

.mdl-step.is-active .mdl-step__content {
    display: block
}

.mdl-step.is-active .mdl-step__label-indicator {
    background-color: #2196F3;
    color: white
}

.mdl-step.is-active .mdl-step__actions {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: flex;
    justify-content: flex-start
}

.mdl-step--transient .mdl-step__content {
    overflow: hidden !important
}

.mdl-step__label {
    position: relative;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: flex;
    cursor: pointer;
    // margin-bottom: 8px;
    padding: 12px 24px 24px 24px;
    align-items: center
}

.mdl-step__title {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: flex;
    flex-flow: column nowrap;
    order: 2;
    width: 100%
}

.mdl-step__title-message {
    position: absolute;
    font-size: 12px;
    opacity: .7;
    font-weight: 400;
    top: 28px
}

.mdl-step__label-indicator {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: flex;
    order: 1;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    color: white;
    margin-right: 12px;
    margin-bottom: auto
}

.mdl-step__label-indicator>:first-child {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: flex;
    font-size: 15px;
    width: 28px;
    height: 28px;
    align-items: center;
    justify-content: center
}
