.card-row {
    margin: 0px 0px 30px 0px; 
    padding: 0;

    &:last-child {
        //margin-bottom: 0px; 
    }

    .card-row-inner {
        display: table;
        width: 100%; 

        .card-row-image, .card-row-body, .card-row-properties {
            display: table-cell;
            vertical-align: top; 

            @media (max-width: 1199px) {
                display: block;
            }
        }

        .card-row-image {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 200px;
            position: relative;
            width: 262px;

            @media (max-width: 1199px) {
                width: 100%;
            }

            .card-row-label {
                background-color: #c6af5c;
                color: #fff;
                left: 50%;
                font-size: 13px;
                padding: 3px 15px;
                position: absolute;
                bottom: 0px;
                width: 100%;
                max-width: 60%;
                transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                z-index: 2; 
                text-transform: lowercase;

                &:first-letter {
                    text-transform: capitalize;
                }
            }
        }

        .card-row-body {
            padding: 24px; 

            @media (max-width: 600px) {
                padding: 24px 16px;
            }

            .card-row-title {
                font-size: 18px;
                padding: 0px; 
                color: #363636;
            }
        }

        .card-row-properties {
            padding: 24px;
            width: 260px;

            @media (max-width: 1199px) {
                padding: 0px 24px 24px 24px;
                width: 100%;
            }

            @media (max-width: 600px) {
                padding: 0px 16px 24px 16px;
                width: 100%;
            }

            dl {
                margin: 0px;
                padding: 0px; 
            }

            dd {
                float: left;
                margin: 0;
                line-height: 36px; 
            }
            dt {
                border-bottom: 1px dashed #e9e9e9;
                line-height: 36px;
                text-align: right; 

                &:last-child {
                    border-bottom: 0px; 
                }
            }
        }
    }
}